{% extends "/frontoffice/layout.html.twig" %}

{% block head %}
<title>{{ item.id_article }}</title>
{% endblock %}

{% block content %}

<div class="container-fluid row mb-4">
    {% for item in article %}
        <h2>{{ item.titre }}</h2>
        <img src="{{ item.image }}" alt="" class="img-fluid">
        <div class="infoProduit">
            <div class="titreArticle">
                <h2>{{ item.titre }}</h2>
                {{ item.contenu }}
            </div>
            <div class="prixArticle">
                <span class="prix">{{ item.prix }} </span>
            </div>
            <div class="action">
                {{ item.stock }}
                {{ quantité }}
                {{ prix total }}
                <button type="submit" title="ajouter au panier"></button>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}