{% extends "/frontoffice/layout.html.twig" %}

{% block head %}
    <title>{{ titre page }}</title>
{% endblock %}

{% block content %}

    <div class="titreMarque">
        <h1>Les marques qui nous fond confiance</h1>
    </div>

    <div class="presentationMarque">
        <p>Retrouver toutes les marques qui travaillent avec nous comme Moulin Roty, Vilac, L'oiseau bateau et bien d'autres.</p>
    </div>

    {% for item in marques %}
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<div class="col">
				<div class="card border-info">
					<img src="images/{{ item.image }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ nom de la marque }}</h5>
						<p class="card-text">{{ description }}</p>
					</div>
				</div>
			</div>
        </div>
	{% endfor %}

    {# Pagination #}
	<div class="d-flex justify-content-between my4">
		{% if data.pagePrecedente !==0 %}
			<a href="index.php?action=album&page={{ data.pagePrecedente }}" class="btn btn-info m-3">&laquo;
				            Page
				            précédente</a>
		{% endif %}
		{% if data.pageSuivante %}
			<a href="index.php?action=album&page={{ data.pageSuivante }}" class="btn btn-info ml-auto m-3">Page
				            suivante &raquo;</a>
		{% endif %}
	</div>

{% endblock %}