{% extends "/frontoffice/layout.html.twig" %}

{% block head %}
    <title>{{ titre page }}</title>
{% endblock %}

{% block content %}

    <div class="titrePage">
        <h1>{{ titre }}</h1>
    </div>

    {% for item in articles %}
    <section class="row">
        <div class="col-xs">
            <div class="card">
                <img src="images/{{ item.image }}" alt="" class="cardImg"></a>
                <div class="cardBlock">
                    <h4 class="cardTitle">{{ item.titre }} </h4>
                    <a href="{{ path('article', {'id': article.id_article}) }} ">
                    <p class="cardArticleText">{{ item.extrait | nl2br }}</p>
                    <p class="cardPrice">{{ item.prixTTC }}</p>
                    <a class="btn btn-info btn-rounded mb-4" href="">Ajouter au panier</a>
                </div>
            </div>
        </div>
    {% endfor %}

    {# Pagination #}
    <div class="d-flex justify-content-between my4">
        {% if data.pagePrecedente !==0 %}
            <a href="index.php?action=album&page={{ data.pagePrecedente }}" class="btn btn-info m-3">&laquo;
            Page
            précédente</a>
        {% endif %}
        {% if data.pageSuivante %}
            <a href="index.php?action=album&page={{ data.pageSuivante }}" class="btn btn-info ml-auto m-3">Page
            suivante &raquo;</a>
        {% endif %}
    </div>

{% endblock %}
