{% extends "/frontoffice/layout.html.twig" %}

{% block head %}
    <title>Tableaux</title>
{% endblock %}

{% block content %}

    <div class="titrePage">
        <h1>Tableaux</h1>
    </div>

    {% for article in articles %}
    <section class="row">
        <div class="col-xs">
            <div class="card">
                <img src="images/{{ article.image }}" alt="" class="cardImg"></a>
                <div class="cardBlock">
                    <h4 class="cardTitle">{{ article.titre }} </h4>
                    <a href="index.php?action={{ article.id_article }}">
                    <p class="cardArticleText">{{ article.extrait | nl2br }}</p>
                    <p class="cardPrice">{{ article.prix }}</p>
                    <a class="btn btn-info btn-rouded mb-4" href="">Ajouter au panier</a>
                </div>
            </div>
        </div>
    {% endfor %}

    {# Pagination #}
    <div class="d-flex justify-content-between my4">
        {% if data.pagePrecedente !==0 %}
            <a href="index.php?action=album&page={{ data.pagePrecedente }}" class="btn btn-info m-3">&laquo;
            Page
            précédente</a>
        {% endif %}
        {% if data.pageSuivante %}
            <a href="index.php?action=album&page={{ data.pageSuivante }}" class="btn btn-info ml-auto m-3">Page
            suivante &raquo;</a>
        {% endif %}
    </div>

{% endblock %}
