{% extends "/frontoffice/layout.html.twig" %}

{% block head %}
<title>{{ article.titre }}</title>
{% endblock %}

{% block content %}

<div class="container-fluid row mb-4">
        <img src="images/{{ article.image }}" alt="" class="img-fluid">
        <div class="infoProduit">
            <div class="titreArticle">
                <h2>{{ article.titre }}</h2>
                {{ article.contenu_article }}
            </div>
            <div class="prixArticle">
                <span class="prix">{{ article.prixTTC }} </span>
            </div>
            {# <div class="action">
                 {{ article.stock }} 
                 {{ article.quantité }} 
                <button type="submit" title="ajouter au panier"></button>
            </div> #}
        </div>
</div>


{% endblock %}